body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#nyanbox {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  #nyan {
    position: absolute;
    left: -350px;
    top: -350px;
    width: 20em;
    transform: rotate(45deg);
  }
}

button {
  position: relative;
  display: block;
  margin: auto;
  top: 50%;
}

canvas {
  width: 100vw;
  height: 100vh;
}
